.container {
    background-image: url('back.jpg');
    background-repeat: repeat;
    background-attachment: fixed; 
    height: 3000%;
    background-size: 100% 100%;
  }
.head{
    text-align: center;
    font-family: 'archia';
    font-size: 410%;
    color: rgb(187, 255, 0);
    /* background-color: rgba(255, 255, 255, 0.158);   */

    
}
.cardss{
    margin: 1%;
    color: black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .hov:hover{
    box-shadow:5px 10px 20px 1px rgba(255, 255, 255, 0.835) !important;
  }
.main{
    color: rgb(15, 17, 16);
    margin: 3%;
     background-color: rgba(255, 255, 255, 0.637);  
    font-size: 50%;
    text-align: center;
}

.text{
    font-size: 300%;
    font-family: 'archia';
    padding-bottom: 3%;


  }
  .header{
    font-size: 500%;
    font-family: 'archia';

  }
  .buttonn{
    width: 100%;
    height:100%;
  }
  img{
    height: 20rem;
    width: 100%;
}
.points{
  text-align: left;
  padding-left: 5%;
}
.h{
  width: 80%;
  height:80%;
  padding-left: 20%;
  padding-right: 20%;
}


